.app-genre {
    padding: 0px 10px 20px;
    .app-genre-name {
        margin-left: 15px;
        font-size: 25px;
        color: #ccc;
        font-weight: 500;
        margin-bottom: 10px;
        padding-top: 30px;
    }
    .app-albums {
        overflow: hidden;
        app-album-card {
            display: block;
            float: left;
            margin: 5px;
        }
    }
}