<div class="app-about">

    <p>
        Portál Kramerius Music obsahuje zvukové dokumenty z digitálních knihoven provozovaných v systému Kramerius z Národního muzea, Moravské zemské knihovny v Brně, Krajské knihovny Františka Bartoše ve Zlíně a Městské knihovny v Praze.
    </p>
    <p>
        Portál vznikl aplikací modulu Zvukový přehrávač pro Kramerius jehož vývoj byl podpořen z programu MK ČR NAKI v rámci realizace projektu „Nový fonograf: naslouchejme zvuku historie“ (DG18P02OVV032). <a href="https://novyfonograf.cz/" target="_blank">https://novyfonograf.cz/</a>
    </p>
 
</div>