<div class="app-playlist" *ngIf="data.ready && playlist ">


<div class="app-playlist-header">
    <div class="app-playlist-title">{{ playlist.title }}</div>
    <div class="app-playlist-bottom">
        <span>{{ trackCountText() }}</span>
    </div>
    <div class="app-actions">
        <div class="app-button app-button-play" (click)="playPlaylist()">
            <mat-icon>play_arrow</mat-icon>
            Přehrát
        </div>
        <div class="app-button app-button-like" (click)="playPlaylist()">
            <mat-icon>library_add</mat-icon>
            Přidat do knihovny
        </div>
        <mat-icon class="app-more" [matMenuTriggerFor]="playlistMenu">more_vert</mat-icon>

    </div>
</div>

<div class="app-tracks">
    <div class="app-track" [class.app-active]="player.isActive(track)" (click)="playTrack(track)" *ngFor="let track of playlist.tracks; let index = index;">
        
        
        <button mat-icon-button [matMenuTriggerFor]="trackMenu" [matMenuTriggerData]="{track: track}" style="float: right;" (click)="$event.stopPropagation();">
            <mat-icon>more_vert</mat-icon>
        </button>
        <img class="app-source" [src]="'/assets/images/logo_' + track.album.source + '.png'">
        <div class="app-track-artist">{{ track.album.artist() }}</div>

        <div class="app-track-left">
            <div class="app-track-number">{{ index + 1 }}</div>
            <mat-icon *ngIf="!player.isActive(track) || !player.playing">play_arrow</mat-icon>
            <mat-icon *ngIf="player.isActive(track) && player.playing">pause</mat-icon>
        </div>
        <div class="app-track-label">

            <div class="app-track-title">
                {{ track.title }}
            </div>
            <ng-container *ngIf="track.unit">
                <div class="app-divider"></div>
                <div class="app-track-unit">{{ track.unit }}</div>
            </ng-container>
            <ng-container *ngIf="track.album">
                <div class="app-divider"></div>
                <div class="app-track-unit">{{ track.album.title }}</div>
            </ng-container>
        </div>
    </div>
</div>


</div>


<mat-menu #trackMenu="matMenu" class="app-track-menu">
    <ng-template matMenuContent let-track="track">
  
        <button mat-menu-item (click)="enqueueTrack(track)">
            <mat-icon>queue_music</mat-icon>
            Přidat do fronty
        </button>
        <button mat-menu-item>
            <mat-icon>playlist_play</mat-icon>
            Přehrát jako další
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item>
            <mat-icon>library_add</mat-icon>
            Přidat do knihovny
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="onRemoveTrackFromPlaylist(track)">
            <mat-icon>delete</mat-icon>
            Odebrat z playlistu
        </button>

    </ng-template>
</mat-menu>



<mat-menu #playlistMenu="matMenu" class="app-album-menu">
    <ng-template matMenuContent>
  
        <button mat-menu-item (click)="playPlaylistShuffled()">
            <mat-icon>shuffle</mat-icon>
            Přehrát náhodně
        </button>
        <button mat-menu-item (click)="enqueuePlaylist()">
            <mat-icon>queue_music</mat-icon>
            Přidat do fronty
        </button>
        <button mat-menu-item>
            <mat-icon>playlist_play</mat-icon>
            Přehrát jako další
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="onRenamePlaylist()">
            <mat-icon>drive_file_rename_outline</mat-icon>
            Přejmenovat playlist
        </button>
        <button mat-menu-item (click)="onRemovePlaylist()">
            <mat-icon>delete</mat-icon>
            Odstranit playlist
        </button>
    </ng-template>
</mat-menu>