.app-navbar {
    height: 60px;
    background: #131314;
    display: flex;
    // padding-top: 12px;
    padding-left: 20px;
    padding-right: 10px;
    .app-logo {
        color: #ffbc00;
        display: flex;
        text-decoration: none;
        font-size: 19px;
        margin-top: 12px;
        line-height: 38px;
        mat-icon {
            font-size: 38px;
            width: 38px;
            line-height: 38px;
            width: 38px;
            margin-right: 10px;
        }
    }
    .app-space {
        flex: 1 1 auto;
    }
    .app-actions {
        padding-top: 5px;
        a {
            line-height: 50px;
            margin-right: 10px;
            text-decoration: none;
            padding: 0 10px;
            font-size: 16px;
            color: #ccc;
            cursor: pointer;
            &:hover {
                color: #fff;
            }
        }
    }

}

