.app-home {
    padding: 20px 10px;
    .app-category {
        padding-bottom: 20px;
        margin-top: 20px;
        .app-category-name {
            margin-left: 15px;
            font-size: 22px;
            color: #ccc;
            font-weight: 500;
            margin-bottom: 10px;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .app-albums {
        overflow: hidden;
        height: 212px;
        app-album-card {
            display: block;
            float: left;
            margin: 5px;
        }
    }
}