.app-album {
    padding: 10px 10px;
    margin: 0 auto;
    max-width: 1100px;
    .app-category {
        padding-bottom: 20px;
        margin-top: 20px;
        .app-category-name {
            margin-left: 15px;
            font-size: 20px;
            color: #aaa;
            margin-bottom: 10px;
            a {
                color: #ddd;
                font-weight: 500;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .app-albums {
        overflow: hidden;
        app-album-card {
            display: block;
            float: left;
            margin: 5px;
        }
    }
    .app-album-header {
        padding: 20px;
        overflow: hidden;
        .app-album-image {
            width: 250px;
            height: 250px;
            margin-right: 26px;
            float: left;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .app-album-title-wrapper {
            height: 180px;
            display: flex;
            .app-album-title {
                font-size: 24px;
                color: #ddd;
                display: inline-block;
                align-self: flex-end;
                line-height: 32px;
            }
        }
        .app-album-bottom {
            overflow: hidden;
            font-size: 14px;
            color: #aaa;
            margin-top: 10px;
            height: 14px;
            line-height: 14px;
            .app-album-artist {
                float: left;
                color: #aaa;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
            .app-divider {
                float: left;
                height: 4px;
                width: 4px;
                margin: 5px 8px;
                border-radius: 50%;
                background: #999;
            }
        }
        .app-actions {
            height: 46px;
            overflow: hidden;
            padding-top: 12px;
            .app-button-play {
                user-select: none;
                cursor: pointer;
                padding: 5px 12px 5px 8px;
                font-size: 14px;
                border-radius: 4px;
                background: #111;
                display: inline-block;
                display: flex;
                align-items: center;
                width: fit-content;
                background: #ffbc00;
                color: #111;
                &:hover {
                    color: #000;
                    background: #dfa911;
                }
                mat-icon {
                    margin-right: 6px;
                }
            }
        }
    }
    .app-tracks {
        padding: 20px 10px;
        .app-track {
            overflow: hidden;
            cursor: pointer;
            line-height: 40px;
            padding-right: 10px;
            .app-track-left {
                width: 50px;
                float: left;      
                .app-track-number {
                    font-size: 15px;
                    color: #777;
                    margin-left: 10px;
                }
                .mat-icon {
                    display: none;
                    float: left;
                    margin-top: 8px;
                    margin-left: 3px;
                    color: #ccc;
                }
            }
            .app-track-label {
                display: flex;
                .app-track-title {
                    font-size: 15px;
                    color: #ccc;
                }
                .app-divider {
                    height: 4px;
                    width: 4px;
                    margin: 5px 8px;
                    border-radius: 50%;
                    background: #999;
                    margin-top: 18px;
                }
                .app-track-unit {
                    color: #999;
                }
            }
            &:hover {
                background-color: #26272c;
                .app-track-left {
                    .app-track-number {
                        display: none;
                    }
                    .mat-icon {
                        display: block;
                    }
                }
            }
            &.app-active {
                font-weight: 700;
                color: #fff;
                .app-track-number {
                    color: #fff !important;
                }
            }
        }
    }
}