<div class="app-album" *ngIf="data.ready && album">


<div class="app-album-header">
    <div class="app-album-image">
        <img [src]="getImage()">
    </div>
    <div class="app-album-title-wrapper">
        <div class="app-album-title">{{ album.title }}</div>
    </div>
    <div class="app-album-bottom">
        <a [routerLink]="['/artist', encode(album.artist())]" class="app-album-artist">{{ album.artist() }}</a>
        <ng-container *ngIf="album.date">
            <div class="app-divider"></div>
            <div class="app-album-date">{{ album.date }}</div>
        </ng-container>
    </div>
    <div class="app-actions">
        <div class="app-button-play" (click)="playAlbum()">
            <mat-icon>play_arrow</mat-icon>
            Přehrát</div>
    </div>
</div>

<div class="app-tracks">
    <div class="app-track" [class.app-active]="player.isActive(track)" (click)="playTrack(track)" *ngFor="let track of tracks; let index = index;">
        <div class="app-track-left">
            <div class="app-track-number">{{ index + 1 }}</div>
            <mat-icon *ngIf="!player.isActive(track) || !player.playing">play_arrow</mat-icon>
            <mat-icon *ngIf="player.isActive(track) && player.playing">pause</mat-icon>
        </div>
        <div class="app-track-label">
            <div class="app-track-title">
                {{ track.title }}
            </div>
            <ng-container *ngIf="track.unit">
                <div class="app-divider"></div>
                <div class="app-track-unit">{{ track.unit.title }}</div>
            </ng-container>
        </div>
    </div>
</div>




<div class="app-category" *ngIf="album.genre() && albumsByGenre.length > 0">
    <div class="app-category-name">Více z <a [routerLink]="['/genre', encode(album.genre())]">{{ album.genre() }}</a></div>
    <div class="app-albums">
        <app-album-card *ngFor="let a of albumsByGenre" [album]="a"></app-album-card>
    </div>
</div>

<div class="app-category" *ngIf="album.artist() && albumsByArtist.length > 0">
    <div class="app-category-name">Více od umělce <a [routerLink]="['/artist', encode(album.artist())]">{{ album.artist() }}</a></div>
    <div class="app-albums">
        <app-album-card *ngFor="let a of albumsByArtist" [album]="a"></app-album-card>
    </div>
</div>

</div>