<div class="app-album" *ngIf="data.ready && album">


<div class="app-album-header">
    <!-- <img [src]="'/assets/images/logo_' + album.source + '.png'"> -->
    <div class="app-album-image">
        <img [src]="getImage()">
    </div>
    <div class="app-album-title-wrapper">
    <div class="app-album-title">{{ album.title }}</div>
    </div>
    <div class="app-album-bottom">
        <a [routerLink]="['/artist', encode(album.artist())]" class="app-album-artist">{{ album.artist() }}</a>
        <ng-container *ngIf="album.date">
            <div class="app-divider"></div>
            <div class="app-album-date" style="float: left;">{{ album.date }}</div>
        </ng-container>
        <div class="app-divider"></div>
        <div class="app-album-date">{{ album.sourceName() }}</div>

    </div>
    <!-- <div class="app-album-bottom">{{ album.sourceName() }}</div> -->
    <div class="app-actions">
        <div class="app-button app-button-play" (click)="playAlbum()">
            <mat-icon>play_arrow</mat-icon>
            Přehrát
        </div>
        <div class="app-button app-button-like" *ngIf="!library.isAlbumInLibrary(album)" (click)="library.addAlbumToLibrary(album)">
            <mat-icon>library_add</mat-icon>
            Přidat do knihovny
        </div>
        <div class="app-button app-button-like" *ngIf="library.isAlbumInLibrary(album)" (click)="library.removeAlbumFromLibrary(album)">
            <mat-icon>library_add_check</mat-icon>
            Odebrat z knihovny
        </div>
        <mat-icon class="app-more" [matMenuTriggerFor]="albumMenu">more_vert</mat-icon>

    </div>
</div>

<div class="app-tracks">
    <div class="app-track" [class.app-active]="player.isActive(track)" (click)="playTrack(track)" *ngFor="let track of tracks; let index = index;">
        
        
        <button mat-icon-button [matMenuTriggerFor]="trackMenu" [matMenuTriggerData]="{track: track}" style="float: right;" (click)="$event.stopPropagation();">
            <mat-icon>more_vert</mat-icon>
          </button>
        
        <div class="app-track-left">
            <div class="app-track-number">{{ index + 1 }}</div>
            <mat-icon *ngIf="!player.isActive(track) || !player.playing">play_arrow</mat-icon>
            <mat-icon *ngIf="player.isActive(track) && player.playing">pause</mat-icon>
        </div>
        <div class="app-track-label">
            <div class="app-track-title">
                <mat-icon class="app-icon-lock" *ngIf="track.isPrivate">lock</mat-icon>
                {{ track.title }}
            </div>
            <ng-container *ngIf="track.unit">
                <div class="app-divider"></div>
                <div class="app-track-unit">{{ track.unit }}</div>
            </ng-container>
        </div>
    </div>
</div>




<div class="app-category" *ngIf="album.genre() && albumsByGenre.length > 0">
    <div class="app-category-name">Více z <a [routerLink]="['/genre', encode(album.genre())]">{{ album.genre() }}</a></div>
    <div class="app-albums">
        <app-album-card *ngFor="let a of albumsByGenre" [album]="a"></app-album-card>
    </div>
</div>

<div class="app-category" *ngIf="album.artist() && albumsByArtist.length > 0">
    <div class="app-category-name">Více od umělce <a [routerLink]="['/artist', encode(album.artist())]">{{ album.artist() }}</a></div>
    <div class="app-albums">
        <app-album-card *ngFor="let a of albumsByArtist" [album]="a"></app-album-card>
    </div>
</div>

</div>



<mat-menu #trackMenu="matMenu" class="app-track-menu">
    <ng-template matMenuContent let-track="track">
  
        <button mat-menu-item (click)="enqueueTrack(track)">
            <mat-icon>queue_music</mat-icon>
            Přidat do fronty
        </button>
        <button mat-menu-item (click)="playTrackNext(track)">
            <mat-icon>playlist_play</mat-icon>
            Přehrát jako další
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item>
            <mat-icon>library_add</mat-icon>
            Přidat do knihovny
        </button>
        <button mat-menu-item [matMenuTriggerFor]="playlistMenu" [matMenuTriggerData]="{track: track}">
            <mat-icon>playlist_add</mat-icon>
            Přidat do playlistu
        </button>

    </ng-template>
</mat-menu>

<mat-menu #playlistMenu="matMenu" class="app-playlist-menu">
    <ng-template matMenuContent let-track="track">

        <button mat-menu-item (click)="onAddToNewPlaylist(track)">
            Přidat no nového playlist
        </button>

        <ng-container *ngIf="playlists.playlists && playlists.playlists.length > 0">
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="onAddToPlaylist(playlist, track)" *ngFor="let playlist of playlists.playlists">
                {{ playlist.title }}
            </button>
        </ng-container>
        
    </ng-template>
</mat-menu>




<mat-menu #albumMenu="matMenu" class="app-album-menu">
    <ng-template matMenuContent let-track="track">
  
        <button mat-menu-item (click)="playAlbumShuffled()">
            <mat-icon>shuffle</mat-icon>
            Přehrát náhodně
        </button>
        <button mat-menu-item (click)="enqueueAlbum()">
            <mat-icon>queue_music</mat-icon>
            Přidat do fronty
        </button>
        <button mat-menu-item (click)="playAlbumNext()">
            <mat-icon>playlist_play</mat-icon>
            Přehrát jako další
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item>
            <mat-icon>library_add</mat-icon>
            Přidat do knihovny
        </button>
        <button mat-menu-item>
            <mat-icon>playlist_add</mat-icon>
            Přidat do playlistu
        </button>

    </ng-template>
</mat-menu>