.app-artist {
    padding: 0px 10px;
    .app-artist-name {
        margin-left: 15px;
        font-size: 25px;
        color: #ccc;
        font-weight: 500;
        margin-bottom: 10px;
        margin-top: 40px;
    }
    .app-albums {
        overflow: hidden;
        app-album-card {
            display: block;
            float: left;
            margin: 5px;
        }
    }
}