.app-profile-img {
    border-radius: 50%;
    padding: 1px;
    background: #cacaca;
    cursor: pointer;
  }
  .app-profile-txt {
    text-align: center;
    font-size: 17px;
    display: inline-block;
    overflow: hidden;
    text-transform: uppercase;
    color: #fff;
    background: #3f51b5;
    border: 1px solid #cacaca;
  }