<div class="app-sidebar">

    <div class="app-logo">Kramerius Music</div> 

    <div  class="app-profile" *ngIf="auth.isLoggedIn()">
      <app-avatar [matMenuTriggerFor]="profileMenu" [size]="40" [image]="auth.user.image" [name]="auth.user.name" id="btn-dropdown-profile"></app-avatar>

      <mat-menu #profileMenu="matMenu" class="app-profile-menu">
        <div class="app-profile-menu-user">
          <div class="app-profile-menu-name">{{ auth.user.name }}</div>
          <div class="app-profile-menu-email">{{ auth.user.email }}</div>
        </div>
        <button mat-menu-item (click)="logout()">
          <span>Odhlásit</span>
        </button>
      </mat-menu>

    </div>


    <a routerLink="/" class="app-action app-main-action2">
      Domů
    </a>
    <a routerLink="/search" class="app-action app-main-action2">
      Hledat
    </a>
    <a routerLink="/about" class="app-action app-main-action2">
      O portálu
    </a>
    <a *ngIf="!auth.isLoggedIn()" routerLink="/login" class="app-action app-main-action2">
      Přihlásit
    </a>

    <div class="app-label">Procházet</div>
    <a routerLink="/genres" class="app-action">Žánry</a>
    <a routerLink="/artists" class="app-action">Umělci</a>

    <ng-container *ngIf="auth.isLoggedIn()">
      <div class="app-label">Knihovna</div>
      <a routerLink="/library/albums" class="app-action">Alba</a>
      <a routerLink="/library/artists" class="app-action">Umělci</a>

      <div class="app-label">Playlisty</div>
      <a [routerLink]="['/', 'playlist', playlist.uid]" class="app-action" *ngFor="let playlist of playlists.playlists">
        {{ playlist.title }}
      </a>
    </ng-container>





<!-- 
        <div [matMenuTriggerFor]="profileMenu" class="app-profile" *ngIf="auth.isLoggedIn()">
            <app-avatar [size]="38" [image]="auth.user.image" [name]="auth.user.name" id="btn-dropdown-profile"></app-avatar>
          
            <mat-menu #profileMenu="matMenu" xPosition="before" class="app-profile-menu">
              <div class="app-profile-menu-user">
                <div class="app-profile-menu-name">{{ auth.user.name }}</div>
                <div class="app-profile-menu-email">{{ auth.user.email }}</div>
              </div>
              <button mat-menu-item (click)="logout()">
                <span>Odhlásit</span>
              </button>
            </mat-menu>
        </div> -->


</div>


