@import './src/variables.scss';

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }
  
  
  html, body {
    height: 100%;
    background: #080808;
  }
  
  body {
    margin: 0;
    color: #555;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }


  .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb {
    background-color: #ffbc00;
    background-color: rgba(255, 188, 0, 1);

  }

  
  .mat-slide-toggle .mat-slide-toggle-bar {
    background-color: rgba(255, 255, 255, 0.4);
  }

  .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar {
    background-color: rgba(255, 188, 0, 0.5);
  }









  .mat-dialog-content, .app-page-dialog {
    .app-dialog-title {
      color: #f1f1f1;
      font-size: 16px;
    }
    .app-dialog-content {
      padding-top: 20px;
      .app-property {
        margin-bottom: 10px;
        .app-label {
          font-size: 12px;
          color: #aaa;
          margin-bottom: 4px;
        }
        .app-value {
          cursor: pointer;
          font-size: 15px;
          color: #eee;
          line-height: 30px;
          height: 30px;
          padding: 0 10px;
          background: #222;
          border: 1px solid #111;
          border-radius: 4px;
          input {
            outline: none;
            background: transparent;
            border: none;
            color: #fff;
            width: 100%;
            height: 100%;
            caret-color: #bbb;
            &::placeholder { 
              color: #bbb;
              opacity: 1;
            }
          }
        }
      }
    }
    .app-dialog-actions {
      margin-top: 25px;
      margin-left: -5px;
      margin-right: -5px;;
      .app-button {
        margin-left: 5px;
        margin-right: 5px;

        cursor: pointer;
        color: #000;
        float: left;
        font-size: 13px;
        line-height: 20px;
        background-color: $app-primary-color;
        padding: 5px 10px;
        user-select: none;
        border-radius: 4px;
        &:hover {
          background-color: $app-primary-color-hl;
        }
        // &.app-button-warn {
        //   color: #fff;
        //   background-color: $app-action-warn;
        //   &:hover {
        //     background-color: $app-action-warn-highlight;
        //   }
        // }
        &.app-button-light {
          background: transparent;
          color: #999;
          &:hover {
            background: #333;
          }
        }
        // &.app-disabled {
        //   background: #ddd;
        //   color: #555;
        //   &:hover {
        //     background: #ddd;
        //     color: #555;
        //   }
        // }


      }
    }
  }