html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }
  
  
  html, body {
    height: 100%;
    background: #080808;
  }
  
  body {
    margin: 0;
    color: #555;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }


  .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb {
    background-color: #ffbc00;
    background-color: rgba(255, 188, 0, 1);

  }

  
  .mat-slide-toggle .mat-slide-toggle-bar {
    background-color: rgba(255, 255, 255, 0.4);
  }

  .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar {
    background-color: rgba(255, 188, 0, 0.5);
  }